body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: hotpink;
    font-size: 10vw;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}